<div class="row mb-3">
  <div class="col-sm-12 d-flex justify-content-between align-items-center">
    <h5 class="mb-0 fw-bold">Manage Users</h5>
    <a routerLink="/users/form" class="btn btn-primary">
      <lucide-angular name="plus"></lucide-angular> Add User
    </a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered table-striped mb-0">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">NAME</th>
          <th scope="col">EMAIL</th>
          <th scope="col">ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <button type="button" class="btn btn-sm btn-success me-1">
              <lucide-angular name="pencil" size="16"></lucide-angular>
            </button>
            <button type="button" class="btn btn-sm btn-danger">
              <lucide-angular name="trash-2" size="16"></lucide-angular>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>
            <button type="button" class="btn btn-sm btn-success me-1">
              <lucide-angular name="pencil" size="16"></lucide-angular>
            </button>
            <button type="button" class="btn btn-sm btn-danger">
              <lucide-angular name="trash-2" size="16"></lucide-angular>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>John</td>
          <td>Doe</td>
          <td>
            <button type="button" class="btn btn-sm btn-success me-1">
              <lucide-angular name="pencil" size="16"></lucide-angular>
            </button>
            <button type="button" class="btn btn-sm btn-danger">
              <lucide-angular name="trash-2" size="16"></lucide-angular>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
