<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="card mb-3" style="width: 22rem">
      <div class="card-body">
        <h5 class="card-title">Sign In</h5>
        <p class="text-muted">Enter your credentials to connect</p>
        <form class="mb-4">
          <div class="mb-3">
            <label for="email" class="form-label fw-medium"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email Address"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label fw-medium">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
            />
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <p>Don't have an account? <a routerLink="/register">Sign Up</a></p>
      </div>
    </div>
  </div>
</div>
