<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="card mb-3" style="width: 22rem">
      <div class="card-body">
        <h5 class="card-title">Sign Up</h5>
        <p class="text-muted">Please fill the details and create an account</p>
        <form class="mb-4">
          <div class="mb-3">
            <label for="name" class="form-label fw-medium">Your Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Your Name"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label fw-medium"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email Address"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label fw-medium">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
            />
          </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <p>Already have an account? <a routerLink="/login">Sign In</a></p>
      </div>
    </div>
  </div>
</div>
